@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Handjet:wght@300&family=Press+Start+2P&family=Rubik+Moonrocks&family=Victor+Mono:ital@1&display=swap');
body {
  background-color: #F5F7F9; /* light peach */
}

form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffb74d; /* light orange */
}

input, button {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

h1 {
  text-align: center;
  font-family: 'Codystar';
  font-weight: 400;
  font-size: 65px;
  animation: twinkle 2s infinite;
  animation-delay: random(0, 2s);
  -webkit-box-shadow: 0 0 10px #F5F7F9;
  -moz-box-shadow: 0 0 10px #F5F7F9;
  box-shadow: 0 0 10px #F5F7F9;

}

i {
  background-color: #FFF; /* white */
  -webkit-box-shadow: 0 0 10px #F5F7F9 inset;
  -moz-box-shadow: 0 0 10px #F5F7F9 inset;
  box-shadow: 0 0 10px #F5F7F9 inset;
}


@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .25;
  }
  75% {
    opacity: .5;
  }
  90% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

input {
  font-family: 'Handjet';
  font-size: 20px;
  width: 300px;
}

button {
  font-family: Victor Mono

}

img {
  
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#result {
  display: flex;
  justify-content: center;
  font-family: Handjet;
}

.hidden {
  visibility: hidden;
}